@use './mixins' as *;
@use './colors' as c;

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  @include transition;

  color: c.$accent-primary;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: c.$accent-secondary;
  }
}